body {
    background-color: #1a1a22;
    
}


.body-content {
    
    padding-top:50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wheel-overlay {
    padding: 25px;
    
}


#wheel {
    position: relative;
    background-image: url('../Images/stang.svg');
    background-size: auto 100px;
    height: 100px;
    width: 100%;
    background-repeat: repeat-x;
    background-position: 50% center;
    animation: yes 10s;
    transition: 0.25s;
    
}

#wheel::before {
    content: '';
    position: absolute;
    left: 50%;
    z-index: 1000;
    background-color: red;
    width: 4px;
    height: 100px;
    border-radius: 15px;
}


@keyframes yes {
    0% {
        
        background-position-x: 50%;
    }
    80% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 100%;
    }
}

#index-wheel {
    
    margin-bottom:50px;
}

#wheel-overlay {
    margin-bottom: 25px;
}

#index-section {
    width: 80%;
}


#last100{

}

#betting-amount{

    

}

#betting-amount-table-div {
    border: solid;
    border-width: 3px;
    border-radius: 15px;
    background-color: #2d2d39;
    border-color: #4a4e5c;
}

#betting-amount table td{
    padding: 7px 10px;
}

    #betting-amount table td:first-child {
        border-left: none;
    }

#enter-amount input {
    background: none;
    
    border:none;
    color:rgba(255,255,255, 0.57);
}

#enter-amount input:focus {
    
    outline:none
}

#choose-amount{
    display:grid;
    grid-template-columns:repeat(9,1fr);
    
}

.col1 {
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0px 2px;
}

    .col1 button {
        width: 55px;
        text-align: center;
        color: rgba(255,255,255, 0.57);
        background-color: rgba(51,53,65);
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px #4a4e5c;
    }

    .col1 button:hover {
        background-color: #1a1a22;
    }

        .col1 button:active {
            background-color: #272731;
            box-shadow: 0 1px #1a1a22;
            transform: translateY(2px);
        }