body {
    background-color: #1a1a22;
    
}


.body-content {
    
    padding-top:50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wheel-overlay {
    padding: 25px;
    
}


#wheel {
    position: relative;
    
    background-image: url('../Images/stang.svg');
    background-size: auto 100px;
    height: 100px;
    width: 100%;
    background-repeat: repeat-x;
    background-position: 100% center;
    /*animation: yes 10s ease-out;*/
    transition: 0.25s;
    
}

#wheel::before {
    content: '';
    position: absolute;
    left: 50%;
    z-index: 1000;
    background-color: red;
    width: 4px;
    height: 100px;
    border-radius: 15px;
}


@keyframes yes {
    0% {
        background-position: 0px center;
    }
    80% {
        background-position: -11500px center;
    }
    100% {
        background-position: -11500px center;
    }
}

#index-wheel {
    
    margin-bottom:50px;
}

#wheel-overlay {
    margin-bottom: 25px;
}

#index-section {
    width: 80%;
}


#last100{

}

#betting-amount{

    

}

#betting-amount-table-div {
    border: solid;
    border-width: 3px;
    border-radius: 15px;
    background-color: #2d2d39;
}

#betting-amount table td{
    padding: 5px 10px;
}

    #betting-amount table td:first-child {
        border-left: none;
    }

#enter-amount input {
    background: none;
    
    border:none;
}

#enter-amount input:focus {
    
    outline:none
}

#choose-amount{
    display:grid;
    grid-template-columns:repeat(9,1fr);
    
}

.col1 {
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0px 2px;
}

.col1 button{
    width:55px;
    text-align:center;
    background-color:blue;
    border:none;
}