@{
    ViewBag.Title = "Home Page";
}

<section id="index-section">
    <div class="jumbotron" id="index-wheel">
        <div id="wheel-overlay">
            <div id="wheel">

            </div>
        </div>
        <div id="last100">
            <div>
                hej
            </div>
        </div>

        <div class="center" id="betting-amount">
            <div id="betting-amount-table-div">
                <table>
                    <tr>
                        <td>
                            <div id="enter-amount">
                                <input type="type" name="name" value="" />
                            </div>
                        </td>
                        <td>
                            <div id="choose-amount">
                                <div class="col1"><button>Clear</button></div>
                                <div class="col2"><button>+0.01</button></div>
                                <div class="col3"><button>+0.1</button></div>
                                <div class="col4"><button>+1</button></div>
                                <div class="col5"><button>+10</button></div>
                                <div class="col6"><button>+100</button></div>
                                <div class="col7"><button>1/2</button></div>
                                <div class="col8"><button>X2</button></div>
                                <div class="col9"><button>MAX</button></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            
            
            
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</section>