@{
    ViewBag.Title = "Home Page";
}

<section id="index-section">
    <div class="jumbotron" id="index-wheel">
        <div id="wheel-overlay">
            <div id="wheel-overlay-left"></div>
            <div id="wheel-overlay-right"></div>
            <div id="wheel-overlay-dark">
                <p id="countdown-text">Rolling in <span id="countdown-time"></span> s</p>
            </div>
            <div id="wheel">

            </div>
        </div>
        <div class="center" id="last100-div">
            <div id="last100">
                <div class="column1 center">
                    PREVIOUS ROLLS
                </div>
                <div class="column2 center">
                    <div id="last10">
                        <div class="column1 last-margin" id="last10-1">
                            
                        </div>
                        <div class="column2 last-margin" id="last10-2">

                        </div>
                        <div class="column3 last-margin" id="last10-3">
                        </div>
                        <div class="column4 last-margin" id="last10-4">
                        </div>
                        <div class="column5 last-margin" id="last10-5">
                        </div>
                        <div class="column6 last-margin" id="last10-6">
                        </div>
                        <div class="column7 last-margin" id="last10-7">
                        </div>
                        <div class="column8 last-margin" id="last10-8">
                        </div>
                        <div class="column9 last-margin" id="last10-9">
                        </div>
                        <div class="column10 last-margin" id="last10-10">
                        </div>
                    </div>
                </div>
                <div class="column3 center" id="last100-col">
                    <div class="column1 count center" >
                        LAST 100
                    </div>
                    <div class="column2 count center" >
                        <img src="~/Images/counter.svg" />
                        <div class="center" id="last100-counter">12</div>

                    </div>
                    <div class="column3 count center">
                        <img src="~/Images/terrorist.svg" />
                        <div class="center" id="last100-terror">12</div>

                    </div>
                    <div class="column4 count center">
                        
                        <img src="~/Images/jackpot.svg" />
                        <div class="center" id="last100-jackpot">12</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="center" id="betting-amount">
            <div id="betting-amount-table-div">
                <table>
                    <tr>
                        <td>
                            <div id="enter-amount">
                                <input type="type" name="name" placeholder="Enter amount..." />
                            </div>
                        </td>
                        <td>
                            <div id="choose-amount">
                                <div class="col1" id="but1" ><button onclick="amount('clear')">Clear</button></div>
                                <div class="col1" id="but2" ><button onclick="amount(0.01)">+0.01</button></div>
                                <div class="col1" id="but3" ><button onclick="amount(0.1)">+0.1</button></div>
                                <div class="col1" id="but4" ><button onclick="amount(1)">+1</button></div>
                                <div class="col1" id="but5" ><button onclick="amount(10)">+10</button></div>
                                <div class="col1" id="but6" ><button onclick="amount(100)">+100</button></div>
                                <div class="col1" id="but7" ><button onclick="amount(0.5)">1/2</button></div>
                                <div class="col1" id="but8" ><button onclick="amount(2)">X2</button></div>
                                <div class="col1" id="but9" ><button onclick="amount(-1)">MAX</button></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            
            
            
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</section>